@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d6fcff;
    font-family: 'Tajawal', 'Arial', sans-serif;
}

.container {
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    line-height: 1.5;
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

label {
    display: block;
    text-align: center;
    font-size: 24px;
    margin-top: 10px;
    color: #333;
}

input,select {
    width: 100%;
    padding: 8px;
    border: 0px;
    border-bottom: 2px solid #ccc;
    outline: none;
}

input:focus, select:focus {
    border-bottom: 2px solid #007bff;
}

.mainp {
    font-size: 24px;
    /* margin-bottom: 20px; */
    text-align: center;
    color: #555;
}

button {
    font-family: 'Tajawal', 'Arial',sans-serif;
    padding: 12px 20px;
    background-color: #01c5d3;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
}

.CopyRights {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin: auto 10px;
    font-size: 14px;
}

img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 1%;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 20px;
        background-color: #fff;
    }

    img {
        z-index: 1;
    }

    .container {
        width: 100%;
        height: 100%;
        background-color: #fff;
        font-size: 1.2em;
        line-height: 1.5;
        position: relative;
        overflow: hidden;
    }

    h1 {
        font-size: 40px;
    }

    label {
        font-size: 18px;
    }

    button {
        font-size: 18px;
    }

    .mainp {
        font-size: 18px;
    }

    .CopyRights {
        text-align: center;
        margin: auto 10px;
        font-size: 10px;
    }

    p {
        font-size: 14px;
    }
    
}